{% load static %}
<footer>
    <table>
      <tr>
        <td><p class="NameFootlink">Главная</p></td>
        <td><p class="NameFootlink">Меню</p></td>
        <td><p class="NameFootlink">О компании</p></td>
        <td><p class="NameFootlink">Контакты</p></td>
        <td><p class="SocialFootlink">Наша социальная сеть</p></td>
      </tr>
      <tr>
        <td><a class="Footlink" href="index.html">Главная страница</a></td>
        <td>
          <a class="Footlink" href="Пицца.html">Пицца</a>
          <br>
          <a class="Footlink" href="Бургеры.html">Бургеры</a>
          <br>
          <a class="Footlink" href="Напитки.html">Напитки</a>
        </td>
        <td><a class="Footlink" href="Company.html">Информация о компании</a></td>
        <td><a class="Footlink" href="Contacts.html">Контакты и обратная связь</a></td>
        <td><a class="IconFootlink" href="https://vk.com/fastfood.garage"><img src="{% static 'img/icons8-вконтакте-48.png' %}"></a></td>
      </tr>
    </table>
</footer>